<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %><br>
    Your id is <%= id %><br>
    Your url is: <a href = '<%=url%>'><%= url %></a></p>
  </body>
</html>
